{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1> Progress </h1>
  <p>

<!-- <script>
var interval = setInterval(update_progress, 1000);
function update_progress() {
     $.get('/analysis_progress').done(function(n, out_file){
         //n = n / 5;  // percent value
         //console.log(n);
         if (n == 100) {
            //console.log('here');
            clearInterval(interval);
            //callback(); // user defined
            document.getElementById("results").disabled = false;
            //window.location = "/show_analysis/{{ md5 }}";
         }
         $('.progress-bar').animate({'width': n +'%'}).attr('aria-valuenow', n);    
     }).fail(function() {
         clearInterval(interval);
         displayerror(); // user defined
     });
}
</script> -->


<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // Use a "/status" namespace.
        // An application can open a connection on multiple namespaces, and
        // Socket.IO will multiplex all those connections on a single
        // physical channel. If you don't care about multiple channels, you
        // can set the namespace to an empty string.
        namespace = '/status';
        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
        console.log('here');
        // Event handler for new connections.
        // The callback function is invoked when a connection with the
        // server is established.
        socket.on('connect', function() {
            // socket.emit('my_event', {data: 'I\'m connected!'});
            console.log('Im connected!');
        });
        socket.on('newstatus', function(msg) {
            console.log(msg.percent);
            if (msg.percent == 100) {
              document.getElementById("results").disabled = false;
         }
            $('#log').html(msg.status)
            $('.progress-bar').animate({'width': msg.percent +'%'}).attr('aria-valuenow', msg.percent);
        });
});
</script>


<div class="container">
   <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
      <div id="log"></div>

   </div>
</div>

<form action="{{ url_for('view_results', md5=md5) }}">
    <input type="submit" class="btn" value="results" id="results" disabled/>
</form>

</p>

{% endblock %}
