{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1> Upload </h1>
<p>

<form action="{{ url_for('upload') }}" method="POST" enctype = "multipart/form-data"> 

<input type="file" name="file" hidden>
</label>
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}